@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
 color: white;
}

@media (min-width: 640px) {
 .landing-section {
  background: radial-gradient(ellipse at 75% 50%, transparent, #000 75%);
 }
}

@media (max-width: 640px) {
 .landing-section {
  background: radial-gradient(ellipse at 50% 50%, transparent, #000);
 }
}

.img-section {
 background: radial-gradient(circle at center, transparent , #000 );
}
